{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="doker_header text-center">
    <h1 class="doker__h1">аренда торговых помещений <br />от собственника</h1>
    <p class="doker_p">в крупнейшем на урале торговом комплексе</p>
</div>
<section class="presentation">
    <div class="container">
        <div class="row text-center col-sm-offset-1 col-lg-offset-0">
            <div class="col-sm-5 col-lg-2 col-lg-offset-1 presentation__item active_presentation__item">
                <p><span class="size_numbers">2</span> млн. <span class="item_bold">посетителей</span> ежегодно посещают торговый комплекс «ДОКЕР»</p>
                <img src="{% static 'img/mouse.png' %}" alt="" class="presentation__img">
            </div>
            <div class="col-sm-5 col-lg-2 presentation__item">
                <p><span class="size_numbers">120</span> тыс. <span class=m2>M<sup>2</sup></span> <span class="item_bold">площадь</span><br /> что делает «ДОКЕР» самым крупным ТК на Урале</p>
                <img src="{% static 'img/mouse.png' %}" alt="" class="presentation__img">
            </div>
            <div class="col-sm-5 col-lg-2 presentation__item">
                <p>более <span class="size_numbers">300</span> <span class="item_bold">магазинов</span> Все резиденты ТК «ДОКЕР» "магазины-специалисты"</p>
                <img src="{% static 'img/mouse.png' %}" alt="" class="presentation__img">
            </div>
            <div class="col-sm-5 col-lg-2 presentation__item">
                <p><span class="size_numbers">20</span> лет <span class="item_bold">опыта</span> успешного управления коммерческой недвижимостью</p>
                <img src="{% static 'img/mouse.png' %}" alt="" class="presentation__img">
            </div>
        </div>
    </div>
</section>
<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p class="types__p">Торговый комплекс «ДОКЕР» работает в формате ритейд-парка и является самым крупным
                        по занимаемой территории в УРФО - общая площадь составляет 15га.
                </p>
                <div class="type_categories clearfix">
                    <h2>Торговые помещения категории "A"</h2>
                    <p>от 15 до 2000м2</p>
                    <i class="fa fa-chevron-down fa-lg categories_fa" aria-hidden="true"></i>
                    <div class="categories_hidden">
                        <div class="hidden_left">
                            <img src="{% static 'img/img_hidden.jpg' %}" alt="" class="img_hidden">
                            <button class="button_hidden" data-toggle="modal" data-target="#modal-2">Подробнее</button>
                        </div>
                        <ul class="hidden_left">
                            <li>Этажность -2</li>
                            <li>Теплоснабжение</li>
                            <li>Вентиляция</li>
                            <li>Водопровод</li>
                            <li>Канализация</li>
                            <li>Видеонаблюдение</li>
                            <li>Пожарная сигнализация</li>
                            <li>Цифровая телефонная связь</li>
                            <li>Выделенный канал интернет</li>
                            <li>Автопарковка</li>
                            <li>Зона погрузки</li>
                            <li>Возможна аренда части помещения</li>
                        </ul>
                    </div>
                </div>
                <div class="type_categories clearfix">
                    <h2>Торговые помещения категории "A"</h2>
                    <p>от 15 до 2000м2</p>
                    <i class="fa fa-chevron-down fa-lg categories_fa" aria-hidden="true"></i>
                    <div class="categories_hidden">
                        <div class="hidden_left">
                            <img src="{% static 'img/img_hidden.jpg' %}" alt="" class="img_hidden">
                            <button class="button_hidden" data-toggle="modal" data-target="#modal-2">Подробнее</button>
                        </div>
                        <ul class="hidden_left">
                            <li>Этажность -2</li>
                            <li>Теплоснабжение</li>
                            <li>Вентиляция</li>
                            <li>Водопровод</li>
                            <li>Канализация</li>
                            <li>Видеонаблюдение</li>
                            <li>Пожарная сигнализация</li>
                            <li>Цифровая телефонная связь</li>
                            <li>Выделенный канал интернет</li>
                            <li>Автопарковка</li>
                            <li>Зона погрузки</li>
                            <li>Возможна аренда части помещения</li>
                        </ul>
                    </div>
                </div>
                <div class="type_categories clearfix">
                    <h2>Торговые помещения категории "A"</h2>
                    <p>от 15 до 2000м2</p>
                    <i class="fa fa-chevron-down fa-lg categories_fa" aria-hidden="true"></i>
                    <div class="categories_hidden">
                        <div class="hidden_left">
                            <img src="{% static 'img/img_hidden.jpg' %}" alt="" class="img_hidden">
                            <button class="button_hidden" data-toggle="modal" data-target="#modal-2">Подробнее</button>
                        </div>
                        <ul class="hidden_left">
                            <li>Этажность -2</li>
                            <li>Теплоснабжение</li>
                            <li>Вентиляция</li>
                            <li>Водопровод</li>
                            <li>Канализация</li>
                            <li>Видеонаблюдение</li>
                            <li>Пожарная сигнализация</li>
                            <li>Цифровая телефонная связь</li>
                            <li>Выделенный канал интернет</li>
                            <li>Автопарковка</li>
                            <li>Зона погрузки</li>
                            <li>Возможна аренда части помещения</li>
                        </ul>
                    </div>
                </div>
                <div class="type_categories clearfix">
                    <h2>Торговые помещения категории "A"</h2>
                    <p>от 15 до 2000м2</p>
                    <i class="fa fa-chevron-down fa-lg categories_fa" aria-hidden="true"></i>
                    <div class="categories_hidden">
                        <div class="hidden_left">
                            <img src="{% static 'img/img_hidden.jpg' %}" alt="" class="img_hidden">
                            <button class="button_hidden" data-toggle="modal" data-target="#modal-2">Подробнее</button>
                        </div>
                        <ul class="hidden_left">
                            <li>Этажность -2</li>
                            <li>Теплоснабжение</li>
                            <li>Вентиляция</li>
                            <li>Водопровод</li>
                            <li>Канализация</li>
                            <li>Видеонаблюдение</li>
                            <li>Пожарная сигнализация</li>
                            <li>Цифровая телефонная связь</li>
                            <li>Выделенный канал интернет</li>
                            <li>Автопарковка</li>
                            <li>Зона погрузки</li>
                            <li>Возможна аренда части помещения</li>
                        </ul>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
</section>
<!-- <section class="about">
    <h3 class="h3_about text-center">Территория торгового комплекса «ДОКЕР»</h3>
    <div class="video">
        <video src="{% static 'img/video_doker.mp4' %}" controls class="video_doker"></video>
    </div>
</section> -->
<section class="about">
            <h3 class="h3_about text-center">Территория торгового комплекса «ДОКЕР»</h3>
            <div class="video">
                <video src="{% static 'img/video_doker.mp4' %}" controls class="video_doker"></video>
            </div> 
    <!-- <div class="container">
        <div class="row">
            <h3 class="h3_about text-center">Территория торгового комплекса «ДОКЕР»</h3>
            <div class="video col-sm-6">
                <video src="{% static 'img/video_doker.mp4' %}" controls class="video_doker"></video>
            </div> 
            <div class="doker_map col-sm-6 hidden-xs hidden-sm">
                <img src="{% static 'img/doker_map.png' %}" alt="" class="img_map">
                <p>ДОКЕР состоит из линейно выстроенных отдельно стоящих двухэтажных магазинов и галереи одноэтажных павильонов.
                        Суммарная торговая площадь «ДОКЕРА» – около 50 000 кв. м.
                        Это самый большой специализированный торговый комплекс в Уральском регионе с опытом работы более 20 лет.</p>
                <a href="http://www.doker.ru/"><button class="button_map">перейти на сайт «ДОКЕР»</button></a>
            </div> 
        </div>
    </div> -->
</section>
<section class="other_doker">
    <p class="warm__border"></p>
    <div class="container ">        
        <span class="warm__span text-center col-sm-offset-2 clearfix">перейти в другой раздел</span>
        <div class="">
            <div class="other_block other_block_doker col-lg-offset-2">
                <a href="{% url 'office_page' %}">
                        <img src="{% static 'img/office.jpg' %}" alt="">
                        <h3>офисные <br />помещения</h3>
                </a>
            </div>
            <div class="other_block other_block_doker">
                <a href="{% url 'warehouse_page' %}">
                    <img src="{% static 'img/torg_ploshadi.jpg' %}" alt="">
                    <h3>складские<br />площади</h3>
                </a>
            </div>
        </div> 
    </div>
</section>

<div class="modal fade" id="modal-2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Заголовок окна</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-sm-6">
                        <img src="{% static 'img/img_hidden.jpg' %}" alt="" class="item_img">
                    </div>
                    <div class="col-sm-6">
                        <p>22ldnfvlfdvdfnvdf fdnvdfinvndf df ndfjvjodfn
                            jdfvdfjn dfjvofjd dfvndf jfdnvk dkjvdfkvndfv dfjvhdjnvdf vjdfknvdf vkjdfnvkdf vjjfnfvldnfv dfvjdfn</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

{% include 'contacts.html' %}


{% endblock %}  