{% load static %}
<div class="modal fade" id="modal-7">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title text-center">Заявка на подбор объекта</br>Это быстро и легко.
                    Мы свяжемся с Вами и поможем выбрать офис</h4>
            </div>
            <div class="modal-body clearfix">
                    <div class="col-sm-12 feedback__form">
                        <form role="form">
                            <input type="text" placeholder="контактное лицо" class="">
                            <input type="text" placeholder="контактный телефон" class="">
                            <input type="text" placeholder="комментарий" class="input_height">
                            <button class="col-sm-5 col-sm-offset-7">отправить</button>
                        </form> 
                    </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>